
<!--Uso de MatDialog-->
<div class="container c-principal">
  
    <button mat-raised-button (click)="abrirDialogo()">Nueva cita medica</button>
</div>










<!--Uso de contenedores y menus

  <h2 style="text-align: center;">Reserva de Cita Médica</h2>

  <div class="container c-principal" > <p>Container principal</p>

    <p>Container 2</p>
     
     <div class="container c-secund">
    
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>favorite</mat-icon>
        Seleccione Area</button>


      <mat-menu #menu="matMenu">
        <button mat-menu-item>Menu Item 1</button>
        <button mat-menu-item>Menu Item 2</button>
      </mat-menu>
    
    </div>

    <div class="container c-secund">
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>assignment_ind</mat-icon>Seleccione Medico</button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>Menu Item 1</button>
        <button mat-menu-item>Menu Item 2</button>
      </mat-menu>
    
    </div>

    <div class="container c-secund">
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>domain</mat-icon>Seleccione Prevision</button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>Menu Item 1</button>
        <button mat-menu-item>Menu Item 2</button>
      </mat-menu>
    
    </div>

    <div class="container c-secund">
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>date_range</mat-icon>
        Seleccione Fecha y Hora</button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>Menu Item 1</button>
        <button mat-menu-item>Menu Item 2</button>
      </mat-menu>
    
    </div>

  </div>
-->

