<div class="dialog">
    <h1 mat-dialog-title>Cita Medica</h1>
    <div mat-dialog-content>
        <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">

            <mat-form-field>
                <input class="form-control" [(ngModel)]="data.codigo" type="text" placeholder="Ingrese codigo">
            </mat-form-field>

            <mat-form-field>
                <input matInput class="form-control" [(ngModel)]="data.nombre_medico" type="text" placeholder="Ingrese medico">
            </mat-form-field>

            <mat-form-field>
                <input matInput class="form-control" [(ngModel)]="data.fecha_cita" type="text" placeholder="Ingrese fecha">
            </mat-form-field>

        </div>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
    </div>


    <div mat-dialog-actions>
        <button mat-button (click)="cancelar()">Cancelar</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
    </div>
</div>

<!--
            <mat-form-field>
                <input matInput  class="form-control" [(ngModel)]="data.rut" type="text" placeholder="Ingrese rut">
            </mat-form-field>

            <mat-form-field>
                <input matInput class="form-control" [(ngModel)]="data.area" type="text" placeholder="Ingrese area">
            </mat-form-field>

            <mat-form-field>
                <input matInput class="form-control" [(ngModel)]="data.nombre_medico" type="text" placeholder="Ingrese nombre medico">
            </mat-form-field>

            <mat-form-field>
                <input matInput class="form-control" [(ngModel)]="data.fecha_cita" type="text" placeholder="Ingrese fecha">
            </mat-form-field>

            <mat-form-field>
                <input matInput class="form-control" [(ngModel)]="data.hora" type="text" placeholder="Ingrese hora">
            </mat-form-field>

-->