
<div class="contenedor">
    <div class="botones">
        <button mat-button color="primary" style="color: navy; " ><a href="login" style="text-decoration: none; color: white;">Iniciar Sesion</a></button>
        <button mat-button color="primary" style="color: navy; "><a href="registro-usuario" style="text-decoration: none; color: white;">Registrarse</a></button>
    </div>


</div>


<div class="info">

    <strong><h1 style="text-align: center; font-weight: bold;">Reserva de Citas Médicas</h1></strong>
    <h4 style="text-align: center;">Tenemos todos los servicios de salud a tu disposición ¡Agenda tu hora hoy mismo!</h4>

   <div class="btR">
    <button class="btn btn-primary" style="text-align: center; margin-top: 40px; outline: 2px solid white;
    outline-offset: 3px; ;"><a href="login" style="text-decoration: none; color: white;">Agendar Cita</a></button>
   </div>
  

</div>
<!---
<div class="contenedor-carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<div class="cards">
    <button type="button" class="btn btn-dark" style="background-color: white;"><a href="login" style="text-decoration: none;">Login</a></button>

    <div class="item">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>

    <div class="item">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>



</div>

-->

